.card {
  min-width: 390px;
  min-height: 555px; 
  background-color: #FFFFF0;
  text-align: center;
  color: black;
  border-radius: .5em;
  margin-top: 4em;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.loginCard {
  min-width: 390px;
  min-height: 450px; 
  background-color: #FCD035;
  text-align: center;
  color: black;
  border-radius: .5em;
  margin-top: 4em;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.header {
  margin: 1em 0 2em 0;
  color: rgb(100, 100, 100);
  font-size: 1.5em;
}

.card:focus-within {
  transform: translateY(-4px) translateX(-2px);
  background-color: #FCD035;
  box-shadow: 2px 5px 0 0 black;
}

.inputBox {
  padding-top: 10px;
  padding-bottom: 35px;
  /* margin: 1em 0 1em 0; */
  max-width: 100%;
  position: relative;
}

div > input {
  background-color: #FFFFF0;
  border: 1px solid black;
  color: black;
  border-radius: 10em;
  font-size: 100%;
  padding: 1em 2em;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 0 black;
  width: 100%;
}

input:hover {
  transform: translateY(-4px) translateX(-2px);
  border: 1px solid black;
  box-shadow: 2px 5px 0 0 black;
  background-color: #FFFFF0;
}
  
input:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
  background-color: #FFFFF0;
}

input:focus {
  transform: translateY(-4px) translateX(-2px);
  border: 1px solid black;
  box-shadow: 2px 5px 0 0 black;
}

input:valid {
  transform: translateY(-4px) translateX(-2px);
  border: 1px solid black;
  box-shadow: 2px 5px 0 0 black;
}

input:hover ~label {
  transform: translateY(-4px) translateX(-2px);
}

div > label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.9em;
  margin-left: 0.9em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

input:valid ~label {
  transform: translateY(-104%) scale(.9);
  margin: 0em;
  margin-left: 1.5em;
  padding: 0.3em;
  color: rgb(100, 100, 100);
}

.inputBox :is(input:focus) ~label {
  transform: translateY(-104%) scale(.9);
  margin: 0em;
  margin-left: 1.5em;
  padding: 0.3em;
  color: rgb(100, 100, 100);
}


/*//////////// pw ////////////*/
/* 
.pw {
  padding-top: 20px;
  margin: 1em 0 1em 0;
  max-width: 100%;
  position: relative;
}

.pw__input {
  background-color: #FFFFF0;
  color: black;
  border: 1px solid black;
  border-radius: 10em;
  font-size: 100%;
  padding: 1em 2em;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 0 black;
  width: 100%;
}

.pw__input:hover {
  transform: translateY(-4px) translateX(-2px);
  border: 1px solid black;
  box-shadow: 2px 5px 0 0 black;
  background-color: #FFFFF0;
}
  
.pw__input:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
  background-color: #FFFFF0;
}

.pw__input:focus {
  transform: translateY(-4px) translateX(-2px);
  border: 1px solid black;
  box-shadow: 2px 5px 0 0 black;
}

div.card :is(input.pw__input:valid) {
  transform: translateY(-4px) translateX(-2px);
  border: 1px solid black;
  box-shadow: 2px 5px 0 0 black;
}

input.pw__input:valid {
  transform: translateY(-4px) translateX(-2px);
  border: 1px solid black;
  border: 1px solid black;
  box-shadow: 2px 5px 0 0 black;
}
.pw__label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.9em;
  margin-left: 0.9em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}
input:hover ~label {
  transform: translateY(-4px) translateX(-2px);
}

input.pw__input:valid ~label {
  transform: translateY(-105%) scale(.9);
  margin: 0em;
  margin-left: 1.5em;
  padding: 0.3em;
  color: rgb(100, 100, 100);
}

.pw :is(input:focus)~label {
  transform: translateY(-105%) scale(.9);
  margin: 0em;
  margin-left: 1.5em;
  padding: 0.3em;
  color: rgb(100, 100, 100);
}


   */