.inputGroup {
  margin: 1em 0 1em 0;
  max-width: 90%;
  position: relative;
}
.inputGroup input {
  background-color: #FFFFF0;
  color: black;
  border-radius: 10em;
  font-size: 100%;
  padding: 1em 2em;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 0 black;
  width: 100%;
}

input:hover {
  transform: translateY(-4px) translateX(-2px);
  border: 1px solid black;
  box-shadow: 2px 5px 0 0 black;
  background-color: #FFFFF0;
}
  
input:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
  background-color: #FFFFF0;
}

input:focus {
  transform: translateY(-4px) translateX(-2px);
  border: 1px solid black;
  box-shadow: 2px 5px 0 0 black;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.9em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus)~label {
  transform: translateY(-105%) scale(.9);
  margin: 0em;
  margin-left: 1.1em;
  padding: 0.3em;
  /* background-color: #FFFFF0; */
}

.inputGroup :is(input:hover)~label {
  /* transform: translateY(-4px) translateX(-2px); */
}

.inputGroup :is(input:focus) {
  outline: transparent;
  border: 1px solid black;
}