.inputGroup input {
  background-color: #FFFFF0;
  color: black;
  border-radius: 10em;
  font-size: 100%;
  font-weight: 600;
  padding: 1em 2em;
  outline:1px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
  width: 100%;
  position: relative;
}

input:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}
  
input:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

/* .inputGroup {
  margin: 1em 0 1em 0;
  max-width: 190px;
  position: relative;
} */
  
/* .inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
} */
  
/* .inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
} */
  
.inputGroup :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #e8e8e8;
}
  
.inputGroup :is(input:focus, input:valid) {
  outline: transparent;
}