.bbutton {
    background-color: #FFFFF0;
    color: rgb(100, 100, 100);
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
}

button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
    color:  #FFFFFF;
    background-color: #40C7CA
}

button:active {
    transform: translateY(2px) translateX(1px);
    color:  #FFFFFF;
    box-shadow: 0 0 0 0 black;
    background-color: #40C7CA
}

