@font-face {
  font-family: 'From Cartoon Blocks';
  font-style: normal;
  font-weight: normal;
  src: local('From Cartoon Blocks'), url('./assets/FromCartoonBlocks.ttf') format('ttf');
}

@font-face {
  font-family: 'BungeeShade';
  font-style: normal;
  font-weight: normal;
  src: local('BungeeShade'), url('./assets/BungeeShade-Regular.ttf') format('ttf');
}

  .logo {
    font-family: 'From Cartoon Blocks';
    padding: 25px;
    color: black;
    letter-spacing: .2vh;
  }

