@font-face {
  font-family: 'From Cartoon Blocks';
  font-style: normal;
  font-weight: normal;
  src: local('From Cartoon Blocks'), url('./assets/FromCartoonBlocks.ttf') format('ttf');
}

@font-face {
  font-family: 'BungeeShade';
  font-style: normal;
  font-weight: normal;
  src: local('BungeeShade'), url('./assets/BungeeShade-Regular.ttf') format('ttf');
}

.logo {
    font-family: 'From Cartoon Blocks';
    padding: 25px;
    color: black;
}

.navBar {
  background-color: #FFFFF0;
  height: 60px
}

.rootContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bodyContainer {
  flex-grow: 1;
  min-height: calc(100vh - 60px);
  width: 100%;
  overflow-y: auto;
  position: relative;
  margin-top: 0px;
}

html, body {
  min-height: 100vh;
  width: 100vw;
  background-color: #FFFFF0;
}

